/* Global Styles */
body {
  margin: 0;
  padding: 0;
}

/* Print Styles */
@media print {
  body {
    background: white !important;
  }
  
  button {
    display: none !important;
  }
  
  .shadow-lg, .shadow-md {
    box-shadow: none !important;
  }
}
